# Ignore all text files in current and sub-folders
**.txt

# Ignore all csv files in current and sub-folders
**.csv

# Ignore all pdf files in current and sub-folders
**.pdf

# Ignore all rtf files in current and sub-folders
**.rtf

# Ignore all doc files in current and sub-folders
**.doc